<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466976066624-lgcg7thjbakj66btd8og3ld0sntaqdjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466976066624-lgcg7thjbakj66btd8og3ld0sntaqdjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466976066624-00lrq3t4v88ognums3uf6gcfm9bcfc51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBu_bCobnJpHaCDMFNJ2LdbK5jTnu7LWn8</string>
	<key>GCM_SENDER_ID</key>
	<string>466976066624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.appelevate.coree</string>
	<key>PROJECT_ID</key>
	<string>app-elevate-core</string>
	<key>STORAGE_BUCKET</key>
	<string>app-elevate-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466976066624:ios:d5c850ab29d9e3455423a5</string>
</dict>
</plist>